.slider {
  flex: 1;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.slider__wrapper {
  position: relative;
  display: flex;
  width: 500%;
  height: 100%;
  margin: 0;
  left: 0;
  animation: 10s slider infinite;
}

.slider__item {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
  height: 100%;
  position: relative;
  margin: 0;
  left: 0;
}

.slider__img {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__text {
  flex: 1;
  height: auto;
  padding: 2rem;
}

.slider a {
  color: #8295c0;
  text-decoration: none;
}

@keyframes slider {
  10% {left: 0;}
  20% {left: -100%;}
  40% {left: -200%;}
  60% {left: -300%;}
  80% {left: -400%;}
}

.slider__title {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1080px) {
  .slider {
    width: 100%;
    max-width: 100%;
  }
}
