.app {
  display: flex;
  width: 101rem;
  height: 40rem;
  background-color: #fff;
}

@media screen and (max-width: 1080px) {
  .app {
    flex-direction: column;
    margin: 0 2rem;
    width: 100%;
    max-width: 73rem;
    margin: 0 1rem;
  }
}
