*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #3b3b3b;
  background-color: var(--body-bg);
  height: 100vh;
}

:root {
  --body-bg: #fafafa;
}


